{% extends "base_home.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
	<!-- Header-->
	<header class="bg-dark py-5">
		<div class="container px-5">
			<div class="row gx-5 align-items-center justify-content-center">
				<div class="col-lg-8 col-xl-7 col-xxl-6">
					<div class="my-5 text-center text-xl-start">
						{% placeholder text1 %}
						{% placeholder text2 %}
						<div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
							{% placeholder button1 %}
						</div>
					</div>
				</div>
				<div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">{% placeholder image1 %}</div>
			</div>
		</div>
	</header>
	{% placeholder smart_pen %}
{% endblock content %}